* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

.ComplaintDetails-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
}

.complaint-details-container {
  flex: 1;
  padding: 20px;
  background-color: #173542;
  overflow-y: auto;
}

.complaint-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 77%;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.back-icon {
  cursor: pointer;
  margin-right: 10px;
  color: #ffffff;
  font-size: 24px;
}

.complain-edit-icon {
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  align-self: flex-end;
  transition: transform 0.2s ease;
}

.complain-edit-icon:hover {
  transform: scale(1.1);
}

.detailstable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  color: #333333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailstable th,
.detailstable td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.detailstable th {
  background-color: #f7f7f7;
  font-weight: bold;
  color: #444444;
}

.detailstable tr:last-child td {
  border-bottom: none; /* Remove border for the last row */
}

.complaint-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .complaint-details-header {
    font-size: 20px;
  }

  .complain-edit-icon {
    margin-left: auto;
    margin-top: -5px;
  }

  .detailstable th,
  .detailstable td {
    padding: 10px;
  }
}
