:root {
  --primarycolor: #0387bb;
  --fontcolor: #ffffff;
  --font-family: DM Sans;
  --inputbg: #ffffff;
  --buttoncolor: #e82f22;
  --buttonhover: #c30d00;
}

* {
  margin: 0;
  padding: 0;
}

.form-password {
  gap: 20px;

  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  min-height: 100vh;
  background-color: var(--primarycolor);
  padding: 20px;
  font-family: "Arial", sans-serif;
}
/*
h2 {
  color: white;
  font: 16;
  font-family: DM Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.form-password {
  background-color: var(--primarycolor);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: var(--inputbg);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--inputbg);
}

.label-pass {
  font-size: 0.9rem;
  color: var(--fontcolor);
  margin-bottom: 8px;
  font-weight: bold;
}

.input-pass {
  background-color: var(--inputbg);

  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid var(--inputbg);
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  background: var(--buttoncolor);
  border: 1px solid var(--inputbg);
  border-radius: 5px;
}

button:hover {
  background-color: var(--buttonhover);
}
 .label-pass {
  color: white;
  font-size: 16;
  font-family: DM Sans;
  font-weight: 600;
  word-wrap: break-word;
} 
 */
.form-password {
  justify-content: center;
  align-items: center;
}
.input-pass {
  padding: 10px;
  outline: none;
  /* padding: auto; */
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 380px;
  height: 50px;
  border: 1px solid #ccc;

  color: black;
  background: white;
  border-radius: 10px;
}
.btnn {
  width: 100%;
  width: 380px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #a42a24;
  background: #a42a24;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fbfdfd;
  font-size: 20;
  font-family: DM Sans;
  font-weight: 900;
  line-height: 22px;
  word-wrap: break-word;
}
