* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #000000;
  padding: 30px 16px 16px 16px;
  box-shadow: 0 6px 15px rgba(210, 207, 207, 0.25);
  flex-flow: row wrap;
  gap: 16px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.quick-links {
  align-items: flex-start;
}

.reach-out {
  align-items: flex-start;
}

.footer-title {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 10px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.footer-links li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.footer-link:hover {
  color: #e95e1e;
}

.social-links {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}

.social-icon:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 13.5rem;
  }
}
