.email-verification {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.div-verification {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 95px;
}
.iconnn {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
}

.titlle {
  font-size: 22px;
  font-weight: 600;
  margin-top: 40px;
}

.icons {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.forgot-input {
  margin-top: 95px;
  margin-bottom: 15px;
  width: 100%;
  outline: none;
  padding: 10px;
  color: black;
  border: 2px solid #ffffff;
  font-size: 16px;
  border-radius: 10px;
  background-color: var(--inputbg);
}

.forgot-button {
  background-color: var(--buttoncolor);
  border: 2px solid var(--buttoncolor);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}

.forgot-button:hover {
  background-color: var(--buttonhover);
  /* border: 2px solid #e82f22; */
}
