.form-main {
  margin-top: 7%;
  /* display: flex; */
}

.heading1 {
  justify-content: center;
  text-align: center;
  margin-left: 35%;
  width: 35%;
}

.heading3 {
  margin: 2% 0 0 2%;
}

.heading4 {
  margin: 2% 0 0 2%;
}
.form-row {
  margin: 2% 0 0 2%;
}
.submit {
  background-color: #e82f22;
  border: 2px solid #e82f22;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
