.otp-verification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0e2f3c;
}

.otp-verification-form {
  background: white;
  border: 2 px solid #0e2f3c;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.otp-header {
  margin-bottom: 10px;
  color: #ffffff;
  border: 2 px solid #0e2f3c;
}

.otp-instructions {
  border: 2 px solid #0e2f3c;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}

.otp-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-verify {
  background-color: #e82f22;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-verify:hover {
  background-color: #d0261e;
}
